@using DataAccessLayer.Entities
@model Vehicle
@{
    ViewData["Title"] = "WAuto | DETAILS";
}

<a asp-controller="Vehicle" asp-action="Index">Back</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name:</th>
            <th scope="col">Value:</th>
        </tr>
    </thead>

    <tbody>
        <tr scope="col">
            <td>Id</td>
            <td>@Model.VehicleId</td>
        </tr>
        <tr scope="col">
            <td>Model name</td>
            <td>@Model.ModelName</td>
        </tr>
        <tr scope="col">
            <td>Vehicle type</td>
            <td>@Model.VehicleType.TypeName</td>
        </tr>
        <tr scope="col">
            <td>Tax coeff.</td>
            <td>@Model.VehicleType.TaxCoeff</td>
        </tr>
        <tr scope="col">
            <td>Engine volume</td>
            <td>@Model.EngineCapacity</td>
        </tr>
        <tr scope="col">
            <td>Year</td>
            <td>@Model.ManufactureYear</td>
        </tr>
        <tr scope="col">
            <td>Reg. number</td>
            <td>@Model.RegistrationNumber</td>
        </tr>
        <tr scope="col">
            <td>Color</td>
            <td>@Model.Color</td>
        </tr>
        <tr scope="col">
            <td>Tax per month</td>
            <td>@Model.TaxPerMonth.ToString("0.00")</td>
        </tr>
        <tr scope="col">
            <td>Max distance (km)</td>
            <td>@Model.MaxKm.ToString("0.00")</td>
        </tr>
    </tbody>
</table>

@using (Html.BeginForm("Create", "Order", FormMethod.Post))
{
    @Html.TextBoxFor(
        m => m.VehicleId,
        new { @readonly = "readonly", @hidden = "hidden" }
    )
    <button type="submit">Create order</button>
}