@using DataAccessLayer.Entities
@model IEnumerable<VehicleType>
@{
    ViewData["Title"] = "WAuto | VEHICLE TYPES";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Type ID</th>
            <th scope="col">Type name</th>
            <th scope="col">Tax coefficient</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var vehicleType in Model)
        {
            <tr>
                <td>@vehicleType.VehicleTypeId</td>
                <td>@vehicleType.TypeName</td>
                <td>@vehicleType.TaxCoeff</td>
                <td>
                    <a asp-controller="VehicleType" asp-action="Update" asp-route-id="@vehicleType.VehicleTypeId">Update</a>
                    <span>/</span>
                    <a href="#" onclick="deleteAndReload(@vehicleType.VehicleTypeId)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="VehicleType" asp-action="Create">Create new</a>

@section Scripts{
    <script>
        function deleteAndReload(id) {
            $.ajax({
                type: 'DELETE',
                url: '@Url.Action("Delete", "VehicleType")' + `/${id}`,
                success: () => window.location.reload(false)
            });
        }
    </script>
} 